.videos{
    display: flex;
    width: calc(100vw - 16rem);
    height: calc(100vh - 3.5rem);
    background-color: var(--background-color);
    color: beige;

    overflow: auto;
}

.videos .cards{
    display: inline-flex;
    flex-wrap: wrap;

    margin-top: 50px;
    margin-bottom: 30px;
}

.videos .cards .card{
    display: flex;
    flex-direction: column;

    width: 300px;

    margin-left: 60px;
    margin-bottom: 50px;
}

.videos .cards .card iframe{
    height: 150px;
    width: 300px;
}

.videos .cards .card .video{
    display: flex;
    justify-content: start;
    justify-items: center;

    padding-bottom: 20px;
}

.videos .cards .card .video img{
    width: 3rem;
    height: 3rem;

    margin-top: 7px;

    border-radius: 50%;
}

.videos .cards .card .video .description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    margin-top: 10px;
    margin-left: 10px;

    font-size: 14px;
}